body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

button {
  background-color: #fff;
}

button:active {
  background-color: grey;
}

.calculator {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.calculator-grid {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
}

.display {
  background-color: lightgreen;
  text-align: right;
  font-size: 30px;
  line-height: 75px;
  padding-right: 31px;
}

.button {
  border: 1px solid black;
  font-size: 20px;
  line-height: 75px;
  text-align: center;
}

.display {
  border: 1px solid black;
  grid-column: span 3;
}

.equals {
  background-color: orange;
}
