body {
  margin: 0;
}

.calculator {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.calculator-grid {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
}

.button {
  border: 1px solid black;
  font-size: 20px;
  line-height: 75px;
  text-align: center;
}

.display {
  border: 1px solid black;
  grid-column: span 3;
}

.equals {
  background-color: orange;
}
